# Ignore IDA files
*.ida
*.i64
*.id0
*.id1
*.id2
*.til
.nam

# Ignore MacOS files
.DS_Store

# Ignore VS Code files
.vscode

# Ignore Part 2 program files except .exe
!Part_2/WinEdt9/
Part_2/WinEdt9/*
!Part_2/WinEdt9/*.exe
